body {
  background:pink;

}

.coins{
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  border-radius: 50%;
  box-shadow: 2px 2px 2px 5px #EE82EE;

}

h1 {
  text-align: center;
  color: #EE82EE;
  font-size: 87px;
  font-family: '8BITWONDERNominal';
  text-shadow: 2px 2px 2px pink, 3px 3px 3px #EE82EE;
}

.playingArea{
  width: 100%;
  height: 600px;
  border: 2px solid #EE82EE;
  position: relative;
  overflow: hidden;
  background: pink;
}

.unicorn{
  position: absolute;
  bottom: 0px;
}

.startbutton {
  margin: 0 auto;
  display: block;
  text-shadow: 2px 2px 2px pink, 3px 3px 3px #EE82EE;
  color: #EE82EE;
  font-size: 25px;
  font-family: '8BITWONDERNominal';
  text-align: center;
  float: left;
  margin-bottom: 5px;
}

.restartbutton {
  margin: 0 auto;
  display: block;
  text-shadow: 2px 2px 2px pink, 3px 3px 3px #EE82EE;
  color: #EE82EE;
  font-size: 25px;
  font-family: '8BITWONDERNominal';
  text-align: center;
  float: right;
  margin-bottom: 5px;
}


#score {
  color: #EE82EE;
  font-family: '8BITWONDERNominal';
  font-size: 50px;
  float: right;
}

.scoreboard {
  color: #EE82EE;
  font-family: '8BITWONDERNominal';
  font-size: 50px;
  float: right;
  text-shadow: 2px 2px 2px pink, 3px 3px 3px #EE82EE;
}

.timer {
  color: #EE82EE;
  font-family: '8BITWONDERNominal';
  font-size:50px;
  text-shadow: 2px 2px 2px pink, 3px 3px 3px #EE82EE;
}
