body {
  background:pink;

}

.coins{
  width: 10px;
  height: 10px;
  background-color: #EE82EE;
  border: 1px #EE82EE solid;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  text-align: center;
  color: #EE82EE;
  font-size: 90px;
  font-family: '8BITWONDERNominal';
}

.playingArea{
  width: 100%;
  height: 600px;
  border: 2px solid #EE82EE;
  position: relative;
  overflow: hidden;
  background: pink;
}

.unicorn{
  position: absolute;
  bottom: 0px;
}

.startbutton {
margin: 0 auto;
display: block;
}


#score {
  color: #EE82EE;
  font-family: '8BITWONDERNominal';
  font-size: 50px;
  float: right;
}

.scoreboard {
  color: #EE82EE;
  font-family: '8BITWONDERNominal';
  font-size: 50px;
  float: right;
}

.timer {
  color: #EE82EE;
  font-family: '8BITWONDERNominal';
  font-size:50px;
}
